/****************************
 * bbs-scene.org api styles *
 ****************************/


/**********************************
 * bbs-scene.org onelinerz styles *
 **********************************/

#bbs_scene_onelinerz_last,
#bbs_scene_onelinerz_random {
	margin-left:6px;
	font-size:12px;
	padding:10px;
	padding-top:0px;
	margin-top:-12px;
	color:#fafafa;
}

#bbs_scene_onelinerz_last .oneliner,
#bbs_scene_onelinerz_random .oneliner {
	color: rgb(134, 185, 190);
}
#bbs_scene_onelinerz_last .alias_bracket,
#bbs_scene_onelinerz_random .alias_bracket {
	display:none;
}
#bbs_scene_onelinerz_last .oneliner_bbsname,
#bbs_scene_onelinerz_random .oneliner_bbsname {
	color: rgb(24, 246, 255);
	font-style: italic;
}                      

#bbs_scene_onelinerz_last .alias,
#bbs_scene_onelinerz_random .alias { 
	color:#ffffff;
}

#bbs_scene_onelinerz_last .seperator,
#bbs_scene_onelinerz_random .seperator {
	color:#c2c2c2;
	font-size:16px;
}


#bbs_scene_onelinerz { 
	margin-top:15px; 
	margin-left:30px; 
	color:#fafafa;
}



#bbs_scene_onelinerz .oneliner {
	color: #999;
	padding:4px;
}
#bbs_scene_onelinerz .alias_bracket {
	display:none;
}
#bbs_scene_onelinerz .oneliner_bbsname {
	color: #09C;
	font-style: italic;
}                      

#bbs_scene_onelinerz .alias { 
	color:#ffffff;
	margin-left:8px;
}

#bbs_scene_onelinerz .seperator {
	color:#c2c2c2;
}

#block-bbs_scene-bbs_scene_onelinerz {

	margin-top:-30px;

}

/***********************************
 * bbs-scene.org random png styles *
 ***********************************/


#block-bbs_scene-bbs_scene_random_png .content {
	margin-left:12px;
	margin-bottom:10px;
	background-color:transparent;
}
#block-bbs_scene-bbs_scene_random_png span.bbsname {
	display:block;
	color:#fafafa;
	margin-bottom:-10px;
	
}

/********************************
 * bbs-scene.org bbslist styles *
 ********************************/

#bbslist {

	margin-left:20px;
	padding:10px;

}

#bbslist .bbs_entries {
	
	width:100%;
	color:#fafafa;
	font-size:14px;
	padding:6px;
	border-bottom:1px solid #c2c2c2;

}

#bbslist .bbs_entries tbody { 

	border:none; 

}

#bbslist .bbs_entries th { 

	font-size:14px; 
	border-bottom:1px solid #c2c2c2; 
	margin-bottom:4px; padding:4px;
	color:#0d969d;

}

#bbslist .bbs_entries td {

	padding:4px;
	font-size:14px;

}

#bbslist .bbs_entries td.location { 

	color:#c2c2c2; 

}

#bbslist .bbs_entries td.software { 

	color:#cfcfcf; 

}
#bbslist .bbs_entries td.nodes {

	font-size:16px;

}

#bbslist .bbs_entries td.name a {

	color:#f2f2f2;
	font-size:14px;
	text-decoration:none;

}

#bbslist .bbs_entries td.name a:hover {

	color:#ffffff;
	border-bottom:1px dotted #c2c2c2;

}

#bbslist .bbs_entries tr.entry:hover { background-color:rgb(20, 94, 94); }

#bbslist #pager { position:relative !important; top:8px !important; }
#bbslist #pager input { 
	background:transparent; 
	border:none; 
	width:34px; 
	text-align:center;
	position:relative;
	bottom:4px;
	font-size:14px;
	color:#fafafa;
	padding:4px; 
}

#bbslist #pager select { 
/*	float:right; 
	border-width:1px; 
	border-style:solid;
	background-color:transparent; 
	border-color: #c2c2c2 #ffffff #ffffff #c2c2c2; */

-webkit-appearance: button;
-webkit-border-radius: 2px;
-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
-webkit-padding-end: 10px;
-webkit-padding-start: 10px;
-webkit-user-select: none;
background-image: url(../images/pyrate/pyrate_new.png), -webkit-linear-gradient(#147A72, #188085 40%, #155E61);
background-position: 96%;
background-repeat: no-repeat;
background-size:16px;
border: 1px solid #AAA;
color: #FFF;
font-size: inherit;
margin: 0;
overflow: hidden;
padding-top: 2px;
padding-bottom: 2px;
text-overflow: ellipsis;
white-space: nowrap;
float: right;
}
#bbslist #pager select option { background-color:#1f9289; padding:4px; }
#bbslist #pager img { border:none; padding-left:2px; padding-right:2px; height:16px; width:16px; cursor:pointer; }
/* tables 

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}*/

table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
/*
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}*/

table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
/* table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}*/
